# Python
__pycache__/
dev-credentials.csv
*.py[codz]
*$py.class
*.so
*.egg-info/
*.egg
dist/
build/
scripts/

# Virtual environments
.venv
venv/
env/

# Environment files
.env
.envrc

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Logs
*.log

# Distribution
*.whl

# Type checkers
.mypy_cache/

# Linting
.ruff_cache/

# TLS certificates (e.g. extracted from OpenShift CRC)
*.crt
*.pem
*.key

# IDE
.idea/
.vscode/
.cursorignore
.cursorindexingignore
