{{- if .Values.database.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "pcp.database.fullname" . }}
  labels:
    {{- include "pcp.labels" . | nindent 4 }}
    {{- include "pcp.database.selectorLabels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.postgresql.port }}
      targetPort: postgres
      protocol: TCP
      name: postgres
  selector:
    {{- include "pcp.database.selectorLabels" . | nindent 4 }}
{{- end }}
